[submodule "extern/USD"]
	path = extern/USD
	url = https://github.com/PixarAnimationStudios/USD
[submodule "extern/embree"]
	path = extern/embree
	url = https://github.com/embree/embree.git
[submodule "extern/SFML"]
	path = extern/SFML
	url = https://github.com/SFML/SFML
[submodule "extern/alembic"]
	path = extern/alembic
	url = https://github.com/alembic/alembic
